In [3]:
import pandas as pd
from config.config import *

In [4]:
flan_df = pd.read_pickle(os.path.join(OBTAINED_DATA, 'test_df_flan-t5-predicted.pkl'))

In [5]:
flan_df

,sentence_text,targets,targets_num,pred_targets
404,book man bashing book uplifting book women cau...,"[women, cautionairy tale]",2,[]
345,vicar saw named Angela Diabola means angel d...,"[vicar, Diabola]",2,"[Diabola, Angela]"
2296,story middle school aged kid named Arthur,"[middle school aged kid, Arthur]",2,[Arthur]
1723,Seventh Tower book written younger readers Abh...,[The Keys to the Kingdom],1,"[Keys to the Kingdom, Seventh Tower, younger r..."
51,Capone classic true crime literature,"[Capone, crime literature]",2,[Capone]
...,...,...,...,...
286,Overall series gets 4 stars individual assessm...,[],0,[]
2418,asthma attack successfully helps readers sympa...,"[asthma attack, Arthur]",2,"[asthma attack, Arthur]"
1284,Wonderful stuff constantly happens disjointe...,[],0,[]
826,affection Tony Hill Carol Jordan created Val M...,"[Tony Hill, book, Carol Jordan, Val McDermid]",4,"[Tony Hill, Carol Jordan, Val McDermid]"
781,Jack sane losing mind,[Jack],1,[Jack]